<section class="Hero-Content">

  <aside class="Main-Left">

    <h3 class="rentix">Choose RentiX for Your Next <span><input type="text" id="inputID" /></span> </h3>
    <p class="rentix-para">Whether you’re celebrating a wedding or a birthday or <br>need a space to stay,
we can be of assistance to you.</p>

    {{!-- <input type="search" class="Seach-query" value="Las Vegas">
    <input type="submit" class="submit-btn"></input> --}}


  </aside>



</section>
<section id ="aLink"class = "About-Section">
  <main class = "About-Main">
  
    <h2 class ="About-Logo" >About <span class="logo-span">RentiX</span></h2>
    <div class = "wrap-About">
      <p class ="About-para" > We are your premier destination for all your event and rental needs. We specialize in transforming ordinary spaces into extraordinary experiences, bringing your vision to life with our extensive collection of top-quality event rentals and catering.
      Whether you're planning an intimate gathering, a corporate event, a wedding, or a grand celebration, we have everything you need to create an ambiance that leaves a lasting impression. From catering, a space to stay and even your form of transportation.</p>
   <div class = "list-div">
     <ul>
      <li class ="list-list"><img class = "list-logo"src="/images/reliability.png" alt="" srcset="">Reliable</li>
      <li class ="list-list"><img class = "list-logo" src="/images/clock.png" alt="" srcset="">Fast</li>
      <li class ="list-list"><img class = "list-logo" src="/images/efficacy.png" alt="" srcset="">Efficient</li>
     
     </ul>
   </div>
  
   <div class = "About-div"><img class = "about-img" src="/images/2.png" alt="" srcset=""></div>
  
    </div>
  </main>
</section>

<h2 class="rentix-main">Our Services </h2>

<section class="Trending-Section">


  <div class="Homepage-card">
    <img src="/images/pexels-ryutaro-tsukata-5745816.jpg" alt="" srcset="">
    <div class="textBox">
      <a href="/api/accomodation" class="textHead">Accomodation &rarrtl;</a>
      <span class="Card-Sub">Our wide range of accommodations caters to various preferences and budgets, ensuring that you can find the ideal option for your needs. </span>

    </div>
  </div>


  <div class="Homepage-card">
    <img src="/images/pexels-scott-webb-174752.jpg" alt="" srcset="">
    <div class="textBox">
      <a href="/api/transport" class="textHead">Transportation &rarrtl;</a>
      <span class="Card-Sub">Whether you're looking for a one-way transfer or require transportation for the duration of your stay, we have flexible options to accommodate your schedule.
      </span>

    </div>
  </div>



  <div class="Homepage-card">
    <img src="/images/pexels-mat-brown-1395967.jpg" alt="" srcset="">
    <div class="textBox">
      <a href="/api/catering" class="textHead">Catering &rarrtl;</a>
      <span class="Card-Sub">Our team will handle all aspects of the catering, including setup, food service, and clean-up, allowing you to relax and enjoy the occasion alongside your guests.</span>


    </div>
  </div>
</section>

<div class="Rental-Wrapper">

  <section class="Car-Rental">

    <div class="Look">
      <h2>Why RentiX For your Next <br>Roadtrip Adventure?</h2>
      <p class="Look-Para">We have full flexibilty for your needs with over 10,000 vehicles in our inventory.</p>
    </div>
      <a  class="Take-Me" href = "/product" >Find Out  &rarrtl;</a>
   
  
  </section>
</div>

{{!-- href = "/product" --}}


<main id = "cLink">
  <div class="Wrap-Contact">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d184551.90977296088!2d-79.54286380725866!3d43.718370957970016!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d4cb90d7c63ba5%3A0x323555502ab4c477!2sToronto%2C%20ON!5e0!3m2!1sen!2sca!4v1687038522660!5m2!1sen!2sca"
      width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
    <section class="Contactus">


      <form class="contact-form" action="">
        <label for="contact-email">E-mail:</label>
        <input type="email" name="contact-email" id="contact-email">
        <label for="contact-name">Name:</label>
        <input type="text" name="contact-name" id="contact-name">
        <label for="contact-phone">Phone:</label>
        <input type="text" name="contact-phone" id="contact-phone">
        <label for="contact-message">Message:</label>
        <textarea name="contact-message" id="contact-message"></textarea>
        <input class ="contact-submit-btn"type="submit" value="Submit">
      </form>

    </section>
  </div>
</main>


<script src="/js/index.js"></script>