
<div class="container">


  <div class="card">
            <a class="singup">Sign Up</a>
            <div class="inputBox1">
                <input type="text" id = "email-signup" required="required">
                <span class="user">Email</span>
            </div>

            <div class="inputBox">
                <input type="text" id = "name-signup" required="required">
                <span>Username</span>
            </div>

            <div class="inputBox">
                <input type="password" id = "password-signup" required="required">
                <span>Password</span>
            </div>

            <button id = "signup-form" class="enter">Enter</button>

        </div>


    <div class="card">
            <a class="login">Log in</a>
            <div class="inputBox">
                <input type="text"  id = "email-login"required="required">
                <span class="user">Username</span>
            </div>

            <div class="inputBox">
                <input type="password" id = "password-login" required="required">
                <span>Password</span>
            </div>

            <button id="login-form" class="enter">Enter</button>

        </div>

      
    </div>
    <script src="/js/login.js"></script>