


     <section class = "selection">
       
        <main class="form-main ">
          <label for="Make">Make:</label>
          <select name="cars" id="Make">
            <option value="volvo">Volvo</option>
            <option value="mercedes">Mercedes</option>
            <option value="audi">Audi</option>
            <option value="bmw">BMW</option>
            <option value="ford">Ford</option>
            <option value="toyota">Toyota</option>
            <option value="honda">Honda</option>
            <option value="chevrolet">Chevrolet</option>
            <option value="nissan">Nissan</option>
            <option value="volkswagen">Volkswagen</option>
            <option value="hyundai">Hyundai</option>
            <option value="subaru">Subaru</option>
            <option value="kia">Kia</option>
            <option value="mazda">Mazda</option>
          </select>
          <label for="Model"> Model:</label>
          <select name="car" id="Model">
            <optgroup label="Volvo">
              <option value="S60">S60</option>
              <option value="XC40">XC40</option>
              <option value="XC60">XC60</option>
              <option value="XC90">XC90</option>
            </optgroup>
            <optgroup label="Mercedes">
              <option value="C-Class">C-Class</option>
              <option value="E-Class">E-Class</option>
              <option value="S-Class">S-Class</option>
              <option value="GLC">GLC</option>
              <option value="GLE">GLE</option>
              <option value="GLS">GLS</option>
            </optgroup>
            <optgroup label="Audi">
              <option value="A3">A3</option>
              <option value="A4">A4</option>
              <option value="A6">A6</option>
              <option value="Q5">Q5</option>
              <option value="Q7">Q7</option>
              <option value="Q8">Q8</option>
            </optgroup>
            <optgroup label="BMW">
              <option value="3 Series">3 Series</option>
              <option value="5 Series">5 Series</option>
              <option value="X3">X3</option>
              <option value="X5">X5</option>
              <option value="X7">X7</option>
            </optgroup>
            <optgroup label="Ford">
              <option value="Mustang">Mustang</option>
              <option value="Focus">Focus</option>
              <option value="Fusion">Fusion</option>
              <option value="Escape">Escape</option>
              <option value="Explorer">Explorer</option>
              <option value="F-150">F-150</option>
            </optgroup>
            <optgroup label="Toyota">
              <option value="Camry">Camry</option>
              <option value="Corolla">Corolla</option>
              <option value="RAV4">RAV4</option>
              <option value="Highlander">Highlander</option>
              <option value="Tacoma">Tacoma</option>
              <option value="4Runner">4Runner</option>
            </optgroup>
            <optgroup label="Honda">
              <option value="Civic">Civic</option>
              <option value="Accord">Accord</option>
              <option value="CR-V">CR-V</option>
              <option value="Pilot">Pilot</option>
              <option value="Odyssey">Odyssey</option>
            </optgroup>
            <optgroup label="Chevrolet">
              <option value="Malibu">Malibu</option>
              <option value="Camaro">Camaro</option>
              <option value="Equinox">Equinox</option>
              <option value="Traverse">Traverse</option>
              <option value="Silverado">Silverado</option>
            </optgroup>
            <optgroup label="Nissan">
              <option value="Altima">Altima</option>
              <option value="Maxima">Maxima</option>
              <option value="Rogue">Rogue</option>
              <option value="Murano">Murano</option>
              <option value="Pathfinder">Pathfinder</option>
            </optgroup>
            <optgroup label="Volkswagen">
              <option value="Golf">Golf</option>
              <option value="Jetta">Jetta</option>
              <option value="Passat">Passat</option>
              <option value="Tiguan">Tiguan</option>
              <option value="Atlas">Atlas</option>
            </optgroup>
            <optgroup label="Hyundai">
              <option value="Elantra">Elantra</option>
              <option value="Sonata">Sonata</option>
              <option value="Tucson">Tucson</option>
              <option value="Santa Fe">Santa Fe</option>
              <option value="Palisade">Palisade</option>
            </optgroup>
            <optgroup label="Subaru">
              <option value="Impreza">Impreza</option>
              <option value="Legacy">Legacy</option>
              <option value="Forester">Forester</option>
              <option value="Outback">Outback</option>
              <option value="Ascent">Ascent</option>
            </optgroup>
            <optgroup label="Kia">
              <option value="Optima">Optima</option>
              <option value="Soul">Soul</option>
              <option value="Sportage">Sportage</option>
              <option value="Sorento">Sorento</option>
              <option value="Telluride">Telluride</option>
            </optgroup>
            <optgroup label="Mazda">
              <option value="Mazda3">Mazda3</option>
              <option value="Mazda6">Mazda6</option>
              <option value="CX-5">CX-5</option>
              <option value="CX-9">CX-9</option>
              <option value="MX-5 Miata">MX-5 Miata</option>
            </optgroup>
          </select>
          <label for="year">Year:</label>
          <input type="text" id="year">
          <label for="Transmission">Transmission Type:</label>
          <input type="text" id="Transmission">
          <label for="fuel">Fuel Type:</label>
          <input type="text" id="fuel">
                 
                 <button id="getSelection">Search &#8594;</button>
          
        </main>
        
     </section>

<h2 class="Specs-For"></h2>


<div class="Container-For">

<div class="wrapper">
 <div class="Image-Content">
        <img id ="imageT"src="" alt="" srcset="">
    </div>
<section class="Product-Description">
   
    
    <div class="Car-Specs">
    
         <p class="des">Class:<span id="carClass" ></span></p>
          <p class="des">Highway Mpg:<span id ="highwayMpg"></span></p>
           <p class="des">City Mpg:<span id="cityMpg"></span></p>
            <p class="des">Combined Mpg:<span id ="Combined"></span></p>
                  <p class="des">Cylinders:<span id = "cylinders"></span></p>
          
            

    </div>
      <div class="Car-Specs">
    
           <p class="des">Year:<span id ="mYear"></span></p>
        <p class="des">Make:<span id ="cMake"></span></p>
         <p class="des">Model:<span id ="cModel"></span></p>
          <p class="des">Fuel Type:<span id = "cFuel"></span></p>
           <p class="des">Transmission:<span id = "cTrans"></span></p>
          

            </div>

<div class = "Date">
    
     {{!-- <h3>Continue Booking?</h3> --}}
     <label for="Start-D">Start Trip:</label>
               <input type="datetime-local" name="" id="Start-D">
               <label for="End-D"> End Trip:</label>
    <input type="datetime-local" name="" id="End-D">
    
    <input type="submit" id="continue-Cart"value="Continue &#8594;">
</div>






</section>
</div>
</div>
<script src="/js/api.js"></script>