<section class = "upload-Section">
  <main class ="upload-Main">
    <div class="upload-img">
      <img src="/images/pexels-uriel-mont-6271725.jpg" alt="" srcset="">
    </div>
    <section class = "Upload-Acc">
  
  
               <label for="placeId">Add Place:</label>
            <input type="text" name="Place" id="placeId">
            <label for="descriptionId">Add Description:</label>
            <input type="text" name="Description" id="descriptionId">
            <label for="locationId">Add Location:</label>
            <input type="text" name="location" id="locationId">
            <label for="priceId">Add Price:</label>
            <input type="number" name="price" id="priceId">
            <label for="filenameId">Add Filename:</label>
            <input type="file" name="filename" id="filenameId" accept="image/*">
       <button class = "getInfo">Submit</button>
  
  
    </section>
  </main>
</section>
<script src="/js/uploadAcc.js"></script>











    
  