<section class = "upload-Section">
  <main class ="upload-Main">
    <div class="upload-img">
      <img src="/images/pexels-kamshotthat-3457780.jpg" alt="" srcset="">
    </div>
    <section class = "Upload-Acc">
  
  
                <label for="tName">Add Name:</label>
                <input type="text" name="Place" id="tName">
                <label for="tDescriptionId">Add Description:</label>
                <input type="text" name="Description" id="tDescriptionId">
              <label for="tCapacityId">Capacity:</label>
                <input type="number" name="capacity" id="tCapacityId">
                <label for="tPriceId">Add Price:</label>
                <input type="number" name="price" id="tPriceId">
                <label for="tFilenameId">Add Filename:</label>
                <input type="file" name="filename" id="tFilenameId" accept="image/*">
           <button class = "uploadInfo">Submit</button>
  
  
    </section>
  </main>
</section>
<script src="/js/uploadTran.js"></script>